body{
    background-color: #EFF2F3;
}


.aside{
    width: 19%;
    height: 93vh;
}


.text-aside{
    height: 10%;
}

.bnt_aside{
    width: 83%;
}
.btn-nav{
    color: white;
}
.btn-nav:hover{
    background-color: lightgray;
    color: black;
    .icon-Nav{
        color: black;
    }
}
    